[bumpversion]
current_version = 0.1.14
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:Dockerfile]
search = searxng-mcp[all]>={current_version}
replace = searxng-mcp[all]>={new_version}

[bumpversion:file:searxng_mcp/searxng_agent.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:searxng_mcp/searxng_mcp.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
