[bumpversion]
current_version = 0.44.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = searxng-mcp[mcp]>={current_version}
replace = searxng-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = searxng-mcp[agent]>={current_version}
replace = searxng-mcp[agent]>={new_version}

[bumpversion:file:searxng_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:searxng_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
